<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>就业信息管理系统-数据管理-招聘信息</title>
	<link rel="stylesheet" href="../resource/css/data.css">
</head>
<body>
<div class="ebody">
	<div class="wmtop">
		<p><span>印刷包装与数字媒体学院</span>就业信息管理系统</p>
	</div>
	<iframe src="../public/nav.html" frameborder="0" scrolling="no" class="wmiframe1" name="wmiframe1">
		
	</iframe>
	<!-- <iframe src="../public/head.html" frameborder="0" class="eframe2" scrolling="no"></iframe> -->
	<div class="exinxi">
		<!-- <div class="eleft">
			<img src="../resource/images/biye4.jpg" alt="">
			<a href="###"><p>学 生 信 息</p></a>
			<a href="###"><p>白 名 单</p></a>
			<a href="###"><p>数 据 管 理</p></a>
			<a href="###"><p>用 户 管 理</p></a>
		</div> -->
		<!-- <iframe src="../public/nav2.html" frameborder="0" class="wmiframe1" scrolling="no"></iframe> -->
		<div class="eright">
			<div class="epersou">
				<p>数据管理</p>
				<hr>
			</div>
			<div class="edata">
				<div class="eqiye">
					<p class="eshangchuan">
						<span>上传企业文件：</span>
						<input type="file" id="file" name="file" multiple="multiple">
						<input type="submit" id="ebtn1">
					</p>
					<h3>企业文档：</h3>
					<ul id="elist">
						<!-- <li><button>删除</button></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../resource/js/data.js"></script>
</body>
</html>
