*{
	margin:0px;
	padding: 0px;
}
body{
	width: 640px;
}
.wmjob{
	overflow: hidden;
}
.wmp{
	overflow: hidden;
}
.wmjob span,.wmupjianli{

	float: left;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 32px;
	/*color: red;*/
}
.wmjob select,.wmjob input{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	font-size: 30px;
}
.wmjianli{
	margin-left: 40px;
	margin-top: 10px;
	font-size: 30px;
}