<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>导航页面</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="<{$res}>/css/nav.css">
</head>
<body>
	
	<div class="wmdaohang">

		<div class="wmimg3">
			<div class="wmmengban1"><p>就业管理系统</p></div>
		</div>
		<div class="wmmengban">
			<!-- <hr> -->
			<a href="/admin.php/stuinfo/students" target="_top"><p>学生信息</p></a>
			<a href="/admin.php/whitelist/whitelist" target="_top"><p>白名单</p></a>
			<a href="/admin.php/datamanage/recinfo" target="_top"><p>数据管理</p></a>
			<a href="/admin.php/usermanage/users" target="_top"><p>用户管理</p></a>
		</div>
	</div>
</body>
</html>
