<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
	<meta name="description" content="">
	<link rel="stylesheet" href="../resource/css/students.css">

</head>
<body>
<div class="wmimg2">
	
</div>
	<div class="wmtop">
		<p><span>印刷包装与数字媒体学院</span>就业信息管理系统</p>
	</div>
	<iframe src="../public/nav.html" frameborder="0" scrolling="no" class="wmiframe1" name="wmiframe1">
		
	</iframe>

<!-- <div class="wmdiv1" name='wmdiv1'> -->
<div class="wmdiv4">
	
	<div class="wmdiv2">
	<div class="wmdiv3"></div>
	学生信息

	</div>
	<div class="wmsearch1">
	
		<span>按班级查询</span>：
		
		<select name="wmclass1">
			<option value="全部">全部</option>
			<option value="媒体">媒体</option>
			<option value="印刷">印刷</option>
			<option value="包装">包装</option>
		</select>
		
		<br>
		<span>按地区查询：</span>
		
		<select name="wmjobplace1">
			<option value="全部">全部</option>
			<option value="长三角">长三角</option>
			<option value="珠三角">珠三角</option>
			<option "京津">京津</option>
			<option value="陕西">陕西</option>
		</select>
		<br>
		<span>按就业状态查询：</span>
		<select name="wmjobstate1" class="select1">
			<option value="全部">全部</option>
			<option value="考研">考研</option>
			<option value="考公务员">考公务员</option>
			<option "应聘中">应聘中</option>
			<option value="签约中">签约中</option>
			<option value="已签约">已签约</option>
		</select>
		<input type="submit" name="" value="查询" class="wmcx1">
	<div class="wmoutspan">
		<span >导出设置：</span>
		<div class="div1">
		<input type="checkbox" name="" value="本人联系方式"><span>本人联系方式</span>
		<input type="checkbox" name="" value="父母联系方式"><span>父母联系方式</span>
		<br>
		</div>
		<div>
		<input type="checkbox" name="" value="家庭住址"><span>家庭住址</span>
		<input type="checkbox" name="" value="是否贫困"><span>是否贫困</span>
		<br>
		</div>
		<div>
		<input type="checkbox" name="" value="四级是否通过"><span>四级是否通过</span>
		<input type="checkbox" name="" value="不及格门数"><span>不及格门数</span>
		</div>
		
	</div>
		<input class="wmbtn1" type="submit" value="导出信息">
		<input class="wmbtn2" type="submit" value="下载简历">
	</div>
	</div>
	<iframe src="stuinfo.html" frameborder="0" class="wmiframe"></iframe>
</div>

<script>
// 	function resetPage() {
//         var deviceWidth = document.documentElement.clientWidth;
//         var scale = deviceWidth/640;
//         document.body.style.zoom = scale;
//     }
//     resetPage();
//     window.onresize = function(){
//         resetPage();
//     } 

</script>
</body>
</html>
