<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="../resource/css/students.css">
</head>
<body>
	<div class="wmstuinfo">
	<!-- <iframe  frameborder="0"> -->
		<table  border="1px" cellspacing="0px">

			<th>专业</th>
			<th>班级</th>
			<th>学号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>籍贯</th>
			<th>就业意向</th>
			<th>就业状态</th>
			<th>白名单</th>
			<th>下载简历</th>
			<th>详情</th>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			<tr>
				<td><input type="text" name="" value="数字媒体技术" style="width:90px"></td>
				<td><input type="text" name="" value="111" style="width:90px"></td>
				<td><input type="text" name="" value="222" style="width:90px"></td>
				<td><input type="text" name="" value="333" style="width:90px"></td>
				<td><input type="text" name="" value="444" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><input type="text" name="" value="555" style="width:90px"></td>
				<td><button>+</button></td>
				<td><input type="checkbox" name="wmcheck" value=""></td>
				<td><a href="###">详情</a></td>
			</tr>
			
			<!-- 专业/班级(1 order)/学号(2 order)/姓名/性别/籍贯/就业意向/就业状态 -->
		</table>
		<!-- </iframe> -->
	</div>

</body>
</html>