<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>就业信息管理系统-数据管理-招聘信息</title>
	<link rel="stylesheet" href="<{$res}>/css/recinfo.css">
</head>
<body>
<div class="ebody">
	<div class="wmtop">
		<p><span>印刷包装与数字媒体学院</span>就业信息管理系统</p>
	</div>
	<div class="exinxi">
		<iframe src="<{$navurl}>" frameborder="0" class="wmiframe1" scrolling="no"></iframe>
		<div class="eright">
			<div class="epersou">
				<p>数据管理<span style="font-size:20px;color:#D56A1F;"> >>企业信息</span></p>
				<hr>
				<a href="<{$url}>/uploadexcel"><span>上传学生文件&gt;&gt;</span></a>
			</div>
			<div class="edata">
				<div class="eqiye">
					<h3>企业文档：</h3>
					<form action="">
					<p class="eshangchuan">
						<span>上传企业文件：</span>
						<input type="file" id="file" name="file" multiple="multiple">
						<input type="button" id="ebtn1" value="提交">
					</p>
				</form>
					<input type="button" name="" id="ebtn3" value="重 置">
					<p class="ejishu">共<span id="espan"> 0 </span>家企业信息</p>
					<ul id="elist">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="<{$res}>/js/recinfo.js"></script>
</body>
</html>
