*{
	margin:0px;
	padding: 0px;
}
.wmtop{
	width: 100%;
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
}
.wmtop p{
	line-height: 40px;
	font-weight: bold;
	/*font-style: ;*/
	color:#B79F9F;
	margin-left: 20px;
}
.wmtop p span{
	font-family: kaiti;
	color: #B99DBF;
	margin-right: 10px;
}
.wmiframe1{
	width: 18%;
	height: 94.5%;
	float: left;
	position: fixed;
	top: 40px;
	left: 0px;

}
.wmdiv1{
	margin-left: 210px;
	margin-top: 50px;
}
.wmdiv2{
	/*float: left;*/
	width: 70px;
	font-size: 15px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-width:4px 1px 0px 1px;
	border-style: solid;
	border-color:#9a49fd #ccc #ccc #ccc ;
	margin-top: 10px;
	margin-left: 10px;
	/*position: relative;*/
}
.wmdiv3{
	/*float: left;*/
	width: 70px;
	height: 2px;
	background-color:rgba(100, 100, 100, 0.6);
	/*border-top: 4px solid;*/
}
.wmdiv5{
	/*float: left;*/
	width: 70px;
	font-size: 15px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-width:4px 1px 0px 1px;
	border-style: solid;
	border-color:#9a49fd #ccc #ccc #ccc ;
	margin-top: 180px;
	margin-left: 10px;
	/*position: relative;*/
}
.wmusers{
	width: 95%;
	float: left;
	margin-left: 10px;
	font-family: Arial;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	position: relative;
	overflow: hidden;
	/*overflow: hidden;*/
}
#wmadd{
	width: 80px;
	height: 30px;
	margin-left: 85.4%;
	margin-top: -50px;
}
.wmusers p{
	margin-left: 10px;
	margin-top: 10px;
}
.wmusers table{
	float: left;
	margin:30px 30px;
	position: relative;
	width: 80%;
}
.wmusers table tr th:first-child{
	width: 25%;
}
#managetr td:first-child input{
	width: 100%;
	height: 100%;
	outline: none;
	border: 0px;
	text-align: center;
	font-size: 17px;
}
#managetr input{
	width: 100%;
	height:100%;
	outline: none;
	outline: none;
	border: 0px;
	text-align: center;
	font-size: 17px;
}
.wmusers table tr th{
	width: 32%;
	height: 40px;
	text-align: center;
	background-color: #eee;

}
.wmusers table tr td{
	text-align: center;
	height: 40px;
}
#wmuser tr th:first-child{
	width: 25%;
}
#wmuser tr th{
	width: 22%;
	height: 40px;
	text-align: center;
	background-color: #eee;
}
#wmuser tr th:last-child{
	width: 10%;
}
.wmcz{
	float: left;
	width: 70px;
	margin-top: 40px;
	position: absolute;
	left: 89%;
}
.wmsave{
	width: 70px;
	margin-top: 60px;
	position: absolute;
	left: 89%;
}
.wmdivusers{
	float: left;
}
.userinput{
	width: 100%;
	height: 100%;
	outline: none;
	border:0px;
	font-size: 17px;
}
.userinput{
	/*float: left;*/
	outline: none;
	border:0px;

}