<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>导航页面</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="<{$res}>/css/nav.css">
</head>
<body>
	
	<div class="wmdaohang">

		<div class="wmimg3">
			<div class="wmmengban1"><p>就业管理系统</p></div>
		</div>
		<div class="wmmengban">
			<!-- <hr> -->
			<a href="<{$app}>/stuinfo/students" target="_top"><p class="wmp1">学生信息</p></a>
			<a href="<{$app}>/whitelist/whitelist" target="_top"><p class="wmp2">特别关注学生</p></a>
			<a href="<{$app}>/datamanage/recinfo" target="_top"><p class="wmp2">企业信息</p></a>

			<a href="<{$app}>/datamanage/uploadexcel" target="_top"><p class="wmp1">数据管理</p></a>
			<a href="<{$app}>/usermanage/users" target="_top"><p class="wmp2">用户管理</p></a>

		</div>
	</div>
	<script src="<{$res}>/js/nav.js"></script>
</body>
</html>
