<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="../resource/css/users.css">
</head>
<body>
	<div class="wmtop">
		<p><span>印刷包装与数字媒体学院</span>就业信息管理系统</p>
	</div>
	<iframe src="../public/nav.html" frameborder="0" scrolling="no" class="wmiframe1" name="wmiframe1">
		
	</iframe>
<div class="wmdiv1">
	<div class="wmdiv2">
		<div class="wmdiv3"></div>
		管理员
		</div>
		<div class="wmsearch1">
	</div>
	<div class="wmusers">
		
		<table border="1px" cellspacing="0px" bordercolor='#ccc' cellpadding="0px" id="wmmanage">
			<tr>
				<th>管理员</th>
				<th>账户</th>
				<th>密码</th>
				<th>编辑</th>
			</tr>
			<tr id="managetr">
				<td><input type="text" name="" value="李萍" readonly="read" class="manageinput"></td>
				<td><input type="text" name="" value="3130984646" readonly="read" class="manageinput"></td>
				<td><input type="text" name="" value="12345678" readonly="read" class="manageinput"></td>
				<td><a href="###" class="manageEdit">编辑</a></td>

			</tr>

		</table>
		<input type="submit" name="" value="重置" class="wmcz" id="wmcz">
			<br>
		<input type="submit" name="" value="保存" class="wmsave" id="wmsave">

	</div>
	

</div>
</div>

<div class="wmdiv1">
	<div class="wmdiv5">
		<div class="wmdiv3"></div>
		用户
		</div>
		<div class="wmsearch1">
	</div>
	<!-- <button class="wmadd">添加用户</button> -->
	<input type="submit" name="" value="添加用户" id="wmadd">
	<div class="wmusers">
		
		<table border="1px" cellspacing="0px" bordercolor='#ccc' cellpadding="0px" id="wmuser">
			<tr>
				<th>用户名</th>
				<th>账户</th>
				<th>密码</th>
				<th>编辑</th>
				<th>移除</th>
			</tr>
			
		</table>
		<input type="submit" name="" value="移除" class="wmcz" id="wmremove">
			<br>
		<input type="submit" name="" value="保存" class="wmsave" id="wmsave1">
	</div>	
</div>
<script src="../resource/js/users.js">
	
</script>
</body>
</html>
